@font-face {
  font-family: 'DM Sans';
  src: url('./fonts/DM_Sans/DMSans-Bold.ttf');
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url('./fonts/Source_Sans_Pro/SourceSansPro-SemiBold.ttf');
}
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fbffe2;
}

.main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('./assets/Header\ background.png'),
    url('./assets/BG\ \(3\).png'), url('./assets/Screenshot_2.png');
  background-size: 100% 1450px, 50% 500px, 100% 950px;
  background-repeat: no-repeat;
  background-position: left top, left 1700px, left 4137px;
  overflow: hidden;
}

/* NAVBAR */
.navigation {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbar {
  width: 1140px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navOption a {
  text-decoration: none;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  opacity: 0.6;
  margin: 0 35px;
}
.buttonArea {
  display: flex;
  height: 100%;
  align-items: center;
}
#hamburger {
  display: none;
}
#close {
  display: none;
}
.buttonArea a {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  margin-right: 30px;
  color: #ffffff;
  text-decoration: none;
}
.dapp {
  width: 117px;
  height: 43px;
  background: #ffffff;
  border-radius: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.dapp img {
  width: 20px;
  height: 16px;
  margin-right: 8px;
}
.dapp p {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;

  color: #221936;
}

/* heroSection */
.heroSection {
  width: 1140px;
  height: 1550px;
  display: flex;
  text-align: center;
}
.heroSocial {
  display: flex;
  flex-direction: column;
  width: 10%;
  margin-top: 250px;
}
.heroSocial img {
  margin-top: 30px;
}
.heroContent {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heroContent p {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.1em;
  margin-top: 250px;
  color: #9fe96e;
}
.heroContent h1 {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 62px;
  line-height: 74px;
  /* or 119% */

  text-align: center;

  color: #ffffff;
}
.heroContent h6 {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 34px;
  /* identical to box height, or 189% */

  text-align: center;

  color: #ffffff;
}
.heroContentButtons {
  display: flex;
  height: 200px;
}
.heroContent button {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */

  color: #221936;
  background: linear-gradient(180deg, #9fe96e 0%, #38aa77 130.99%);
  box-shadow: 0px 7px 63px rgba(155, 234, 117, 0.49);
  border-radius: 39px;
  width: 222px;
  height: 71px;
  cursor: pointer;
  border: none;
}
.seeMore {
  height: 90px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.seeMore img {
  width: 21px;
  height: 21px;
  margin-top: -15px;
}
.seeMore p {
  margin-top: 0;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */

  color: #ffffff;
  margin-left: 40px;
  margin-right: 7px;
}
#heroMainImage {
  width: 1100px;
  height: 600px;
}

/* FEATURED */
.featured {
  height: 600px;
  width: 1140px;
  display: flex;
  justify-content: space-between;
}
.ourFeature {
  display: flex;
  height: 30px;
  align-items: center;
}
.ourFeature img {
  height: 1px;
}
.ourFeature p {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;

  /* Primary */

  color: #fc881d;
  margin-left: 10px;
}
.leftSide h2 {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  /* or 150% */

  /* Dark */

  color: #0d0e25;
}
.leftSide h4 {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  /* or 188% */

  color: rgba(13, 14, 37, 0.6);
}
.featureButtton {
  width: 202px;
  height: 64px;

  background: #221a36;
  box-shadow: 0px 9px 63px rgba(34, 26, 54, 0.56);
  border-radius: 39px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.featureButtton p {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;

  color: #ffffff;
  margin-right: 12px;
  cursor: pointer;
}
.rightSide {
  width: 578px;
  height: 337px;
  margin-top: 40px;
}
.firstRight {
  height: 50%;
  border-bottom: 1px solid #cedb8380;
  display: flex;
}
.firsRightLeft {
  width: 50%;
  height: 100%;
  border-right: 1px solid #cedb8380;
}
.firsRightLeftContent {
  width: 100%;
  height: 100%;
  background: #221a36;
  border-radius: 14px;
  margin-top: -20px;
}
.firstRIghtLogo {
  display: flex;
  margin-top: 21px;
  margin-left: 30px;
}
.symbol {
  height: 40px;
  width: 40px;
  background-color: #32264f;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin-top: 21px;
}
.firstRIghtLogo p {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  /* identical to box height, or 167% */

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 21px 21px;
}
.firsRightLeftContent h6 {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  /* or 188% */

  color: rgba(255, 255, 255, 0.6);
  margin-top: 0;
  margin-left: 30px;
}
.secondRightLogo {
  display: flex;
}
.secondRightLogo img {
  margin-left: 30px;
  margin-top: 5px;
}
.secondRightLogo p {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  /* identical to box height, or 167% */

  /* Dark */

  color: #0d0e25;
  margin-left: 21px !important;
}
.secondRight p {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  /* or 188% */

  color: rgba(13, 14, 37, 0.6);
  margin-left: 30px;
}
#anotherBorder {
  border-right: 1px solid #cedb8380;
  width: 50%;
}
#nobroderbottom {
  border-bottom: none !important;
}

/* THE PROCESS */
.theProcess {
  width: 1140px;
  height: 1300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.theProcess h2 {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  /* identical to box height, or 150% */

  /* Dark */

  color: #0d0e25;
}
.firstLineProcess {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.fistProcess {
  width: 344px;
  height: 497px;
}
.fistProcess h3 {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  /* or 136% */

  /* Dark */

  color: #0d0e25;
  margin-top: 0;
}
.fistProcess p {
  margin-bottom: 0;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  /* or 188% */

  color: rgba(13, 14, 37, 0.6);
}
#secondLineProcess {
  display: flex;
  margin-top: 52px;
}
#fistProcessHey {
  margin-right: 40px;
}

/* TOKENOMICS */
.tokenomics {
  width: 1140px;
  height: 500px;
  display: flex;
  justify-content: space-between;
}
.leftHead p {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;

  color: #ffffff;
}

.leftHead {
  display: flex;
  height: 40px;
  align-items: center;
  margin-top: 50px;
}
.leftHead img {
  height: 1px;
  width: 40px;
  margin-right: 10px;
}
.tokenomics h2 {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  /* identical to box height, or 150% */

  color: #ffffff;
  margin-top: 0;
}
.tokenomics h4 {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 30px;
  /* or 158% */

  color: #ffffff;
}
.tokenomics h5 {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 188% */

  color: #ffffff;
  margin-top: 0;
}
#listItem {
  margin-left: 20px;
}

/* FOOTER */
.footer {
  width: 1140px;
  height: 400px;
}
.footerMain {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid rgba(13, 14, 37, 0.07);
  padding-bottom: 50px;
}
.secondFooterMain {
  display: flex;
  flex-direction: column;
}
.secondFooterMain a {
  text-decoration: none;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 28px;
  /* identical to box height, or 175% */

  /* Dark */

  color: #0d0e25;
}

#footerLogo {
  margin-top: 50px;
}
.secondFooterMain {
  margin-top: 90px;
}
.footerSocial {
  margin-top: 90px;
}

.footerMain h4 {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */

  letter-spacing: 0.1em;

  /* Dark */

  color: #0d0e25;
}
.footerSocialsIcon img {
  margin-right: 15px;
}
.footer p {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */

  letter-spacing: 0.1em;

  color: rgba(13, 14, 37, 0.6);
  text-align: center;
  margin-top: 40px;
}

/* QUOTE */
.queto {
  height: 637px;
  width: 1140px;
  background: url('./assets/Einstein\ Quote.svg');
  background-size: 1140px 600px;
  background-repeat: no-repeat;
  background-position: left top;
}

@media only screen and (max-width: 767px) {
  .navOption {
    display: none;
    margin-top: 150px;
  }
  #navLogo {
    /* width: 245px; */
    height: 50px;
    margin-left: -50px;
    margin-top: 70px;
  }
  .navbar {
    width: 350px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: -45px;
  }
  .buttonArea {
    display: none;
  }
  #hamburger {
    display: block;
    cursor: pointer;
    margin-left: 290px;
    margin-top: -35px;
    padding-top: -10px;
  }
  .navOption a {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    margin-bottom: 35px;
  }
  .buttonArea {
    flex-direction: column;
    width: 100%;
    margin-top: 80px;
    margin-left: 230px;
  }
  .buttonArea a {
    margin-left: 20px;
    margin-bottom: 20px !important;
  }
  .dapp {
    margin-top: 20px;
    margin-left: 5px;
  }
  #close {
    display: none;
    margin-top: -400px;
    margin-left: 250px;
  }
  .main {
    background-image: url('./assets/mob/bg\ \(4\).png'),
      url('./assets/mob/bf.png'), url('./assets/Screenshot_2.png');
    background-size: 100% 1700px, 90% 330px, 100% 1500px;
    background-repeat: no-repeat;
    background-position: left top, left 1850px, left 6450px;
  }
  #heroMainImage {
    display: none;
  }
  .heroSocial {
    display: none;
  }
  .heroSection {
    width: 350px;
    height: 1800px;
  }
  .heroContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('./assets/mob/Group\ 59.png');
    background-size: 100% 700px;
    background-repeat: no-repeat;
    background-position: left 1000px;
  }
  .heroContent p {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.1em;
    margin-top: 96px;
    color: #9fe96e;
  }
  .heroContent h1 {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 43px;
    line-height: 63px;
    /* or 134% */

    text-align: center;

    color: #ffffff;
  }
  .heroContent h1 br {
    display: none;
  }
  .heroContent h6 {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 34px;
    /* or 212% */

    text-align: center;

    color: #ffffff;
  }
  .heroContentButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 400px;
  }
  .heroContent button {
    width: 222px;
    height: 71px;
  }
  #seeChart {
    margin-top: 0;
    margin-left: 10px;
  }
  .featured {
    width: 350px;
    flex-direction: column;
    padding-left: 20px;
    height: 100%;
  }
  .ourFeature p {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.1em;

    /* Primary */

    color: #fc881d;
  }
  .leftSide h2 {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    /* or 150% */

    /* Dark */

    color: #0d0e25;
    margin-top: 10px;
  }
  .leftSide h4 br {
    display: none;
  }
  .firstRight {
    height: 100%;
    border-bottom: none;
    display: flex;
    flex-direction: column;
  }

  #anotherBorder {
    border-left: 1px solid #cedb8380;
    width: 50%;
    border-right: none;
  }
  .secondRight {
    border-left: 1px solid #cedb8380;
    margin-top: 30px;
  }
  .queto {
    margin-top: 300px;
    height: 1000px;
    width: 350px;
    background: url('./assets/mob/Einstein\ Quote.svg');
    background-size: 350px 900px;
    background-repeat: no-repeat;
    background-position: left 100px;
  }
  .theProcess {
    width: 350px;
    height: 2600px;
    display: flex;
    flex-direction: column;
    align-items: left;
  }
  .firstLineProcess {
    display: flex;
    /* justify-content: space-between; */
    width: 100%;
    flex-wrap: wrap;
  }
  #secondLineProcess {
    display: flex;
    /* margin-top: 52px; */
    flex-wrap: wrap;
    width: 100%;
  }
  .fistProcess {
    width: 344px;
    height: 497px;
    margin-top: 30px;
  }
  #secondLineProcess {
    display: flex;
    margin-top: 0px;
    flex-wrap: wrap;
    width: 100%;
  }
  #fistProcessHey {
    /* margin-right: 40px; */
    margin-top: 0;
  }
  .tokenomics {
    width: 350px;
    height: 800px;
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
  }
  .tokenomicsRight img {
    width: 450px;
    height: 487px;
    margin-left: -50px;
  }
  .footer {
    width: 350px;
    height: 500px;
  }
  #footerLogo {
    /* margin-top: 50px; */
    margin-right: 50px;
  }
  .footerMain {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid rgba(13, 14, 37, 0.07);
    padding-bottom: 50px;
    flex-wrap: wrap;
  }
  #footerLogo {
    /* margin-top: 50px; */
    margin-right: 50px;
    margin-bottom: -60px;
  }
  .footerSocial {
    margin-top: 30px;
  }
  .footer p {
    font-size: 10px;
  }
  .leftHead {
    margin-top: 90px;
  }

  .tokenomics h5 {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #ffffff;
    margin-bottom: 179px;
  }
  .tokenomics h2 {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: #ffffff;
    margin-top: -416px;
  }
}
